{% extends "navInterface.html" %}

{% block navbar %}
    <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/playerlist">Lista Giocatori</a>
    </li>
    <li class="nav-item" active>
        <a class="nav-link" href="/fantaAsta">Fanta Asta</a>
    </li>
    <li class="nav-item" active>
        <a class="nav-link" href="/rose">Rose Squadre</a>
    </li>
{% endblock %}

{% block content %}

    {% for nomeTeam in fanta_Squadre.keys() %}
        </br>   
        <div style="margin-left: 40%;" >
            <h2> {{ nomeTeam }}</h2>
            <p>Fanta Allenatore: {{ fanta_Squadre[nomeTeam][0] }}</p>
            <p>Crediti Disponibili: {{ fanta_Squadre[nomeTeam][2] }}</p>
        </div></br>
        {% for role in ['P', 'D', 'C', 'A'] %}

            {% if role == 'P' %}
                {% set ruolo = 'Portieri' %}
                {% set n_Giocatori= 3 %}    

            {% elif role == 'D'%}
                {% set ruolo = 'Difensori' %}
                {% set n_Giocatori= 8 %}

            {% elif role == 'C' %}
                {% set ruolo = 'Centrocampisti' %}
                {% set n_Giocatori= 8 %}

            {% elif role == 'A' %}
                {% set ruolo = 'Attaccanti' %}
                {% set n_Giocatori= 6 %}
            {% endif %}
                <div>
                    <h3>{{ ruolo }}</h3>
                    <p>Giocatori posseduti: {{ fanta_Squadre[nomeTeam][1].get(role)|length }}/ {{ n_Giocatori }}</p>
                    {% if fanta_Squadre[nomeTeam][1].get(role)|length < n_Giocatori %}
                        <form action="fantaAsta" method="POST">                        
                            <div class="form-row align-items-center" style="display:inline-block; ">

                                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Scegli giocatore:</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="selected_idplayer">
                                        <option selected>Choose...</option>
                                        {% for player in giocatoriFADict.get(role)  %}
                                            <option value="{{ player[0] }}">{{ player[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="nomeFantaSquadra" value="{{ nomeTeam }}">            
                                    <input type="hidden" name= "op" value="add">                         
                            </div>
                            <div class="form-row align-items-center" style="display:inline-block;" >
                                    <input type="number" name="prezzo">
                                    <button type="submit" class="btn btn-primary">Compra!</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
                
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Squadra</th>
                            <th scope="col">Val Iniziale</th>
                            <th scope="col">Val Attuale</th>
                            <th scope="col">Val Acquisto</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for player in fanta_Squadre[nomeTeam][1].get(role) %}
                                <tr>
                                    <td>{{ player[0] }}</td>
                                    <td>{{ player[1] }}</td>
                                    <td>{{ player[2] }}</td>
                                    <td>{{ player[4] }}</td>
                                    <td>{{ player[5] }}</td>
                                    <td>{{ player[6] }}</td>
                                    <td>
                                        <form action="fantaAsta" method="POST">
                                            <input type="hidden" name= "selected_idplayer" value="{{ player[0] }}">
                                            <input type="hidden" name="nomeFantaSquadra" value="{{ nomeTeam }}">     
                                            <input type="hidden" name="op" value="del">
                                            <input type="hidden" name= "prezzo" value="{{ player[6] }}">
                                            <button type="submit" class="btn btn-primary">Elimina</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </br><br><br>
        {% endfor %}
    {% endfor %}
    
{% endblock %}