{% extends "navInterface.html" %}

{% block navbar %}
    <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/playerlist">Lista Giocatori</a>
    </li>
    <li class="nav-item" active>
        <a class="nav-link" href="/fantaAsta">Fanta Asta</a>
    </li> 
{% endblock %}

{% block content %}

    {% for nomeTeam in fanta_Squadre.keys() %}
        <div style="margin-left: 50%">
            <h2> {{ nomeTeam }}</h2>
            <p>Fanta Allenatore: {{ fanta_Squadre[nomeTeam][0] }}</p>
            <p>Crediti Disponibili: {{ fanta_Squadre[nomeTeam][1] }}</p>
        </div>
        {% for role in ['P', 'D', 'C', 'A'] %}

            {% if role == 'P' %}
                {% set ruolo = 'Portieri' %}
                {% set n_Giocatori= 3 %}    

            {% elif role == 'D'%}
                {% set ruolo = 'Difensori' %}
                {% set n_Giocatori= 8 %}

            {% elif role == 'C' %}
                {% set ruolo = 'Centrocampisti' %}
                {% set n_Giocatori= 8 %}

            {% elif role == 'A' %}
                {% set ruolo = 'Attaccanti' %}
                {% set n_Giocatori= 6 %}
            {% endif %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr> 
                            <td scope="row"><h3>{{ ruolo }}</h3></td>
                            <td>
                                <div class="form-row align-items-center">
                                    <div class="col-auto my-1">
                                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">{{ ruolo }}</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                        <option selected>Choose...</option>
                                        {% for player in giocatoriFADict.get(role)  %}
                                            <option value="1">{{ player[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>                                        
                                </div>
                            </td>
                            <td>
                                <div class="form-row align-items-center">
                                    <div class="col-auto my-1">
                                        <button type="submit" class="btn btn-primary">Compra!</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><p>Giocatori posseduti: {{ fanta_Squadre[nomeTeam][2].get(role)|length }}/ {{ n_Giocatori }}</p> </td>
                        </tr>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Squadra</th>
                            <th scope="col">Val Iniziale</th>
                            <th scope="col">Val Attuale</th>
                            <th scope="col">Val Acquisto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if fanta_Squadre[nomeTeam][3].get(role) >= 0 and  n_Giocatori > fanta_Squadre[nomeTeam][3].get(role)  %}
                            {% for player in fanta_Squadre[nomeTeam][2].get(role) %}
                                <tr>
                                    <td>{{ player[0] }}</td>
                                    <td>{{ player[1] }}</td>
                                    <td>{{ player[3] }}</td>
                                    <td>{{ player[4] }}</td>
                                    <td>{{ player[5] }}</td>
                                </tr>
                            {% endfor %}
 
                        {% elif  fanta_Squadre[nomeTeam][3].get(role) >=  n_Giocatori  %}
                            {% for player in fanta_Squadre[nomeTeam][2].get(role) %}
                                <tr>
                                    <td>{{ player[0] }}</td>
                                    <td>{{ player[1] }}</td>
                                    <td>{{ player[3] }}</td>
                                    <td>{{ player[4] }}</td>
                                    <td>{{ player[5] }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
        {% endfor %}
    {% endfor %}
    
{% endblock %}