{% extends "navInterface.html" %}

{% block navbar %}
    <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/playerlist">Lista Giocatori</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/fantaAsta">Fanta Asta</a>
    </li> 
{% endblock %}


{% block scriptblock%}

{% endblock %}


{% block content %}
<div style="margin-top: 1.5cm;">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">FantaAllenatore</th>
            <th scope="col">Email</th>
            <th scope="col">FantaSquadra</th>
          </tr>
        </thead>
        <tbody>
            {% for element in data %}               
                <tr>
                    <form action="/" method="POST">
                        <td> {{ element[0] }}
                            <input type="hidden" name= "Id" value=" {{ element[0] }}">
                            <input type="hidden" name= "op" value="delete">
                        </td>
                        <td>{{ element[2] }}</td>
                        <td>{{ element[1] }}</td>
                        <td>{{ element[3] }}
                            <input type="hidden" name="fantaTeam" value="{{ element[3] }}">
                        </td>
                        <td width="50 px">
                            <button type="submit">Cancella</button>
                        </td>
                    </form>
                    <form action="/updateFAll" method="POST" style="margin-left: 5px;">
                        <td>
                            <input type="hidden" name= "Id" value=" {{ element[0] }}">
                            <input type="hidden" name= "name" value=" {{ element[2] }}">
                            <input type="hidden" name= "email" value=" {{ element[1] }}">
                            <input type="hidden" name= "op" value="update">
                            <button id="modificaUtente" type="submit">Modifica</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
<form class="row g-3 needs-validation" novalidate action="/" method="POST" id= "addUserForm" >
    <div class="col-md-4" style="margin-left: 526px">
      <label for="username" class="form-label">Nome</label>
      <input type="text" width="75" class="form-control" name="username" id= "username" required>
      <label for="Email" class="form-label">Email</label>
      <input type="text" width="75" class="form-control" name="Email" id="email">
      <input type="hidden" name= "op" value="add">
      <button class="btn btn-primary" id="AggiungiUtente" type="submit" style="margin-left: 40%; margin-top:10px;">Aggiungi</button>
    </div>
</form>
</br></br>

{% if messages != "" %}
    <div style="position:  relative;">
        <div id= "myAlert" class="alert alert-danger" style="width: 500px; position: absolute; left: 526px;" collapse>
            <span id="linkClose" style="cursor: pointer; position: absolute; top: 50%; right: 0%; padding: 12px 16px; transform: translate(0%, -50%);" hover= "background: #bbb;">x</span>
            <!--<a href="#" class="close" id="linkClose">&times;</a> -->
            <strong> Errore </strong> <p>{{ messages }}</p>
        </div>
    </div>
{% endif %}


{% endblock %}