{% extends "navInterface.html" %}

{% block navbar %}
    <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/playerlist">Lista Giocatori</a>
    </li>
    <li class="nav-item" active>
        <a class="nav-link" href="/fantaAsta">Fanta Asta</a>
    </li> 
{% endblock %}


{% block content %}
    {% for nomeFantasquadra in dictSquadre.keys()%}
        <p>{{ dictSquadre[nomeFantaSquadra] }}</p>
    {% endfor %}
{% endblock %}